@import "tailwindcss";

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #FAFAF8;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior: none;
}